<div>
    <p>Hey {{ name }},</p>
    <p>Please click below to confirm your email</p>
    <p>
        <a href="{{ url }}">Confirm</a>
    </p>
    <img src="https://www.bitrefill.com/content/cn/b_rgb%3AFFFFFF%2Cc_pad%2Ch_720%2Cw_1280/v1647309862/movistar-peru.jpg" alt="movistar">
    <p>If you did not request this email you can safely ignore it.</p>

</div>